# Pretext build and run stuff
.cache
.error_schema.log
author_build.log
generated-assets/
logs/
output/
pretext/generated
published/

# Compiled files
*.pyc
*.class
*.jar

# Machine specific files
.DS_Store
.vscode/

# Some files I generate
all-files.mk
pretext/files.txt
pretext/full-main.ptx
words.txt
